@using EvidentTestDashboard.Library.Entities
@model EvidentTestDashboard.Web.ViewModels.DashboardViewModel

<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-1">
    </div>
    <div class="col-xs-12 col-sm-12 col-md-11">
        <div class="row">
            @{ int i = 0;}
            @foreach (var build in Model.builds)
            {
                <div class="block col-xs-12 col-sm-6 col-md-4">
                    <div class="block-title">
                        @build.EnvironmentName
                    </div>
                    <div class="block-subinfo">
                        <span>
                            Last run: @build.LastRun 
                            <span>
                                (@if (build.BuildSucceeded){<span>succeeded</span>}
                                 else {<span>failed</span>})
                            </span>
                        </span>
                        <div class="status-total">
                            <div class="status-container">
                                <div class="row">
                                    <div class="col-xs-4 col-sm-4 col-md-4">
                                        <div class="status status-succes">
                                            @build.TestsPassed
                                        </div>
                                    </div>
                                    <div class="col-xs-4 col-sm-4 col-md-4">
                                        <div class="status status-failed">
                                            @build.TestsFailed
                                        </div>
                                    </div>
                                    <div class="col-xs-4 col-sm-4 col-md-4">
                                        <div class="status status-cancelled">
                                            @build.TestsNotRun
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="block-inner @(i > 0 ? "" : "main-block")">
                        <div class="background-inner"></div>
                        @foreach (var label in build.TestOccurrences.Keys)
                        {
                            <div class="set">
                                <span class="info">@label</span>
                                <div class="parts">
                                    @foreach (var test in build.TestOccurrences[label])
                                    {
                                        <a href="@(test.Build!=null?test.Build.WebUrl:"#")">
                                            <div class="part @(test.Status == TestOccurrence.TEST_OCCURRENCE_FAILURE ? "failed" : test.Status == TestOccurrence.TEST_OCCURRENCE_NOT_RUN ? "cancelled" : "") @(test.Status == TestOccurrence.TEST_OCCURRENCE_FAILURE && test.FailedFirstBuildId == null ? "first-failure" : "")"
                                                 title="@test.Name">
                                            </div>
                                        </a>
                                    }
                                </div>
                            </div>
                        }
                    </div>
                </div>
                i++;
            }
        </div>
    </div>
</div>
