@model EvidentTestDashboard.Web.ViewModels.DashboardViewModel

<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-1">
    </div>
    <div class="col-xs-12 col-sm-12 col-md-11">
        <div class="row">
            @{ int i = 0;}
            @foreach (var build in Model.builds)
            {
                <div class="block col-xs-12 col-sm-6 col-md-3">
                    <div class="block-title">
                        @build.Environment.EnvironmentName
                    </div>
                    <div class="block-subinfo">
                        <span>
                            Last run: @build.Build.RunAt <span>
                                (@if (build.Build.BuildSucceeded)
                                 {
                                     <span>succeeded</span>
                                 }
                                 else
                                 {
                                     <span>failed</span>
                                 })
                            </span>
                        </span>
                        <div class="status-total">
                            <div class="container">
                                <div class="row">
                                    <div class="status status-succes col-xs-4 col-sm-4 col-md-4">
                                        @build.Build.Passed
                                    </div>
                                    <div class="status status-failed col-xs-4 col-sm-4 col-md-4">
                                        @build.Build.Failed
                                    </div>
                                    <div class="status status-succes col-xs-4 col-sm-4 col-md-4">
                                        0 not run
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="block-inner @(i > 0 ? "" : "main-block")">
                        @foreach (var label in build.TestOccurrences.Keys)
                        {
                            <span class="info">@label</span>
                            <div class="parts">
                                @foreach (var test in build.TestOccurrences[label])
                                {
                                    <div class="part @(test.TestOccurrenceSucceeded ? "" : "failed") "></div>
                                }
                            </div>
                        }
                    </div>
                </div>
                i++;
            }
        </div>
    </div>
</div>
